# Build and Release Folders
force-app\main\default\classes\kycLookupLWCControllerV2.cls

# Other files and folders
.sfdx/

# Executables


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
